.form-container {
    background-color: #748cf8;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        gap: 10px;

        .logo {
            font-weight: bold;
        }
        
        .title {
            font-size: 16px;
            font-weight: bold;
            color: 	#748cf8;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            input {
                padding: 10px;
                border: none;
                width: 250px;
                border-bottom: 1px solid #748cf89d;
                &::placeholder {
                    color:rgb(175, 175, 175)
                }
            }
            button {
                border: none;
                color: white;
                background-color: #748cf8;
                width: 100px;
                align-self: center;
                border-radius: 10px;
                padding: 10px;
                cursor: pointer;
                font-weight: bold;
            }
            label {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 12px;
                color: #747474;
                cursor: pointer;
            }
        }
        p {
            color:#747474;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

.home {
    background-color: #748cf8;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;

        .sidebar {
            flex: 1;
            border-right: 1px solid #3A467B;
            background-color: #222A4A;
            
            .navbar {
                background-color: #171C31;
                color:white;
                display: flex;
                align-items: center;
                padding: 10px;
                height: 50px;
                justify-content: space-between;
            
                .logo {
                    font-weight: bold;
                    font-size: 16px;
                }
            
                .user {
                    display: flex;
                    gap: 10px;

            
                    img {
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        background-color: white;
                        object-fit: cover;
                    }

                    button {
                        background-color: #3A467B;
                        color: white;
                        font-size: 12px;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                    }
            
                }
                
            }
            
            .search {

                .search-form {
                    padding: 10px;

                    input {
                        border: none;
                        background-color: transparent;
                        color: white;
                        outline: none;

                        &::placeholder {
                            color: white;
                        }
                    }
                   
                }
            }

            .user-chat {
                display: flex;
                padding: 10px;
                gap: 10px;
                align-items: center;
                cursor: pointer;
                color: white;

                &:hover {
                    background-color: #171C31;
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                
                span {
                    font-size: 18px;
                    font-weight: bold;
                }
                
                p {
                    font-size: 12px;
                    color: lightgray;
                }
            }
           
        }

        .chat {
            flex: 2;

            .chat-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #3A467B;
                padding: 10px;
                height: 50px;
                color: lightgray;

                span {
                    font-size: 16px;
                    font-weight: bold;
                }

                .chat-icons {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    img {
                        cursor: pointer;
                        height: 24px;
                    }
                }
            }

            .messages {
                background-color: rgba(224, 224, 224, 0.507);
                padding: 10px;
                height: calc(100% - 160px);
            }

            .input-send {
                height: 50px;
                background-color: white;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                 input {
                    width: 100%;
                    border: none;
                    outline: none;
                    color: #2f2d52;
                    font-size: 18px;

                    &::placeholder {
                        color: lightgray;
                    }
                    
                }

                .send {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        height: 24px;
                        cursor: pointer;
                    }

                    button {
                        background-color: #748cf8;
                        color: white;
                        border: none;
                        padding: 10px 15px;
                        cursor: pointer;
                    }
                }

               
            }
        }
    }
}

